:root {
    --white: rgb(240, 240, 240);
    --transparent-white: rgba(240, 240, 240, 0.407);
    --red: rgb(188, 0, 45);
    --ligt-gray: rgb(124, 130, 138);
    --dark-gray: rgb(56, 58, 59) !important;
    --background-color: rgb(240, 240, 232);
    --green: rgb(43, 221, 153);
    --blue: rgb(28, 180, 221);
}


/*************************************** ABOUT SECTION ***************************************/


#about-section {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: 1.2rem;
    text-align: justify;
    padding: 60px 200px 40px 200px;
    background-color: var(--transparent-white);
}

#about-image {
    max-width: 400px;
    height: auto;
}


/*************************************** MEDIA QUERY ***************************************/


@media (max-width: 1200px) {
    #about-section {
        flex-direction: column;
        padding: 300px 80px 300px 80px;
    }
}


@media (max-width: 600px) {


    #about-section {
        flex-direction: column;
        padding: 400px 40px 400px 40px;
    }
}
