
:root {
    --white: rgb(240, 240, 240);
    --transparent-white: rgba(240, 240, 240, 0.407);
    --red: rgb(188, 0, 45);
    --ligt-gray: rgb(124, 130, 138);
    --dark-gray: rgb(56, 58, 59) !important;
    --background-color: rgb(240, 240, 232);
    --green: rgb(43, 221, 153);
    --blue: rgb(28, 180, 221);
}

/*************************************** FORM SECTION ***************************************/

#contact-section {
    
}


.section-title {
    padding-top: 100px;
    text-align: center;
    margin-bottom: 0.5rem;
}

form {
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;
}

#form-container {
    float: left;
    width: 30%;
    margin: 3.125rem auto 50px 200px;
    height: 100vh;
}

.form-div {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}


.input-control {
    width: 100%;
    height: 2.25rem;
    padding: 0.5rem 0.5rem;
    border: 1px solid var(--border-lines);
    border-radius: 0.5rem;
    outline: none;
}

.input-control:hover {
    box-shadow: 0 2.5px 10px 0 var(--ligt-gray);
}

.input-control:focus {
    border: 2px solid var(--red);
}

.input-textarea {
    min-height: 150px;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--border-lines);
    resize: vertical;
    outline: none;
}

.input-textarea:hover {
    box-shadow: 0 2.5px 10px 0 var(--ligt-gray);
}

.input-textarea:focus {
    border: 2px solid var(--red);
}

.submit-button {
    width: 100%;
    padding: 0.75rem;
    background: var(--green);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s ease;
}

#info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding-top: 100px;
}

hr {
    border: 1px solid var(--border-lines);
    width: 35%;
    margin-top: 30px;
}

#info-container ul {
    list-style: none;
}

.media-list {
    display: flex;
}

.media-list li {
    margin: 25px;
}

.container-icon {
    width: 30px;
    margin: 10px 25px 0 0;
}

.info-icon {
    width: 50px;
}

.info-icon:hover {
    filter: invert(30%) sepia(21%) saturate(4061%) hue-rotate(319deg) brightness(93%) contrast(101%);;
}