
/*************************************** SKILLS SECTION ***************************************/


#toolbox-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: var(--white);
    position: relative;
}

#toolbox-title {
    position: absolute;
    top: 5rem;
    text-align: center;
}

.toolbox-grid {
    width: 80%;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(7, 10%);
    gap: 2rem;
}

.tool-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    /* width: 7rem; */
}

#toolbox-background-color{
    /* background-color: var(--transparent-white); */
    border-radius: 50px;
    width: 80%;
    height: 55%;
    z-index: -1;
    position: absolute;
    margin: 0 auto;
    box-shadow: 2px 2px 2px 2px black;
    border: 2px solid var(--white);
}

@media (max-width: 1024px) {

    #toolbox-background-color{
        width: 90%;
        height: 55%;
    }
}

@media (max-width: 768px) {

    .tool-wrapper img {
        width: 5rem;
        align-self: center;
    }

    #toolbox-title {
        width: 90%;
    }


    #toolbox-section {
        height: 110vh;
    }

    .toolbox-grid {
        /* width: 70%; */
        margin-top: 90px;
        grid-template-columns: repeat(3, 20%);
        gap: 2rem;
    }

    #toolbox-background-color{
        box-shadow: none;
        border: none;
    }

}


