
/*************************************** SKILLS SECTION ***************************************/


#toolbox-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: var(--white);
    position: relative;
}

#toolbox-title {
    margin-bottom: 2rem;
    position: absolute;
    top: 5rem;
}

.toolbox-grid {
    width: 80%;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10%;
    gap: 2rem;
    position: absolute;
    top: 14rem;
}

.tool-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    width: 7rem;
}

#toolbox-background-color{
    /* background-color: var(--transparent-white); */
    border-radius: 50px;
    width: 80%;
    height: 55%;
    z-index: -1;
    position: absolute;
    margin: 0 auto;
    box-shadow: 2px 2px 2px  black;
    border: 2px solid var(--white);
}

@media (max-width: 1024px) {
    .toolbox-grid {
        width: 80%;
        grid-template-columns: 10% 10% 10% 10% 10%;
        gap: 4rem;
    }
}

@media (max-width: 768px) {
    .toolbox-grid {
        width: 80%;
        grid-template-columns: 10% 10% 10% 10%;
        gap: 5rem;
    }

}


